<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>简介</title>

</head>
<body>
<div id="about">
    欢迎使用代码生成器啊哈哈哈哈哈哈哈。。
</div>
</body>
<script type="text/javascript" src="layui.js"></script>
<script type="text/javascript" src="plugins/marked/marked.js"></script>
<script>
    layui.use('layer', function() {
        /*var $ = layui.jquery;
        $.get("README.md", function (response, status, xhr) {
            $("#about").html(marked(response));
        });*/
    });
</script>
</html>