package ${package}.mapper;

import ${package}.entity.${className};
import com.cetc.common.web.mapper.AbstractMapper;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Mapper extends AbstractMapper<${className}> {
	
}
